<!DOCTYPE html>
<html>
<head>
    <title>Projects</title>
</head>
<body>
    <h1>Project List</h1>

    <table border="2">
        <thead>
            <tr>
                <th>Project Name</th>
                <th>Department</th>
                <th id="sortHeadcount" style="cursor:pointer; text-decoration:underline;">
                    Headcount <span id="arrowHeadcount"></span>
                </th>
                <th id="sortHours" style="cursor:pointer; text-decoration:underline;">
                    Total Hours <span id="arrowHours"></span>
                </th>
            </tr>
        </thead>

        <tbody id="projectRows"></tbody>
    </table>

    <a href="/" id="home">Return Home</a>
    <script src="/static/a3.js"></script>

</body>
</html>



